{% extends 'base.html.twig' %}

{% block title %}Gestion des Ventes{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block body %}
<div class="main">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-12 mt-3">
        <div class="row no-gutters mb-2">
          <div class="col-md-6 d-flex justify-content-start align-items-center">
            <h5>LISTE DES COMMANDES :</h5>
          </div>
        </div>

        <table id="salesTable" class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>CODE</th>
              <th>CLIENT</th>
              <th>QTE</th>
              <th>PRIX (MAD)</th>
              <th>TOTAL (MAD)</th>
              <th>STATUT</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody id="listSales">
            {% for sale in sales %}
              <tr id="sale{{ sale.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ sale.code }}</td>
                <td>{{ sale.client }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.price }}</td>
                <td>{{ sale.quantity * sale.price }}</td>
                <td>
                  {% if sale.status == 'Payée' %}
                    <span class="badge bg-success text-white">{{ sale.status }}</span>
                  {% elseif sale.status == 'En attente' %}
                    <span class="badge bg-warning text-white">{{ sale.status }}</span>
                  {% else %}
                    <span class="badge text-white bg-danger">{{ sale.status }}</span>
                  {% endif %}
                </td>
                <td>
                  <div class="dropdown">
                    <i class="menuActions fa-solid fa-ellipsis-vertical" id="{{ sale.id }}"></i>
                    <div class="dropdown-menu dropdown-content divMenu" id="divMenu{{ sale.id }}">
                      <button class="dropdown-item editSale" data-id="{{ sale.id }}"><i class="fa-solid fa-pen-to-square menuIcon"></i> MODIFIER</button>
                      <button class="dropdown-item deleteSale" data-id="{{ sale.id }}"><i class="fa-solid fa-trash menuIcon"></i> SUPPRIMER</button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('gestion_vente') }}
{% endblock %}
